* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
}

header {
    color: #4CAF50;
    text-align: center;
}

#title {
    font-family: 'Bruno Ace', cursive;
    font-size: min(11vw, 7rem);
}

#subtitle {
    font-family: 'Open Sans', sans-serif;
    font-size: min(5vw, 2.5rem);
}

#counters {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.counter > p {
    border-bottom: 3px solid black;
    border-radius: 15%;
    font-size: clamp(2rem, 5vh, 4rem);
    text-align: center;
    line-height: 1.5;
}

#timer {
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
}

#timer-text {
    color: blue;
}

#click-button {
    background-color: aquamarine;
    border-color: black;
    border-radius: 10%;
    color: black;
    width: 100%;
    height: 100%;
    font-size: clamp(3rem, 11vw, 4.5rem);
    line-height: 1.5;
}

#reset-button {
    background-color: yellowgreen;
    border-radius: 10%;
    padding: 1rem 2rem;
    font-size: 2rem;
}

#control-buttons {
    width: min(90%, 900px);
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@media (width < 600px) {
    #reset-button {
        width: 100%;
    }
}