:root {
    --primary-color: #2FBF71;
    --secondary-color: #223843;
    --border-color: var(--secondary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-block: 15px;
}

header {
    text-align: center;
}

#title {
    color: var(--primary-color);
    font-family: 'Bruno Ace', cursive;
    font-size: min(11vw, 6rem);
}

#subtitle {
    background: linear-gradient(var(--primary-color), var(--secondary-color));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: min(5vw, 2.5rem);
}

#counters {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.counter > p {
    padding-inline: 1rem;
    border: 3px solid var(--border-color);
    border-radius: 15%;
    font-size: clamp(2rem, 5vh, 4rem);
    text-align: center;
    line-height: 1.5;
}

.counter > p {
    color: #097969;
}

#clicks-done {
    font-weight: bold;
}

#click-button {
    background-color: #32CD32;
    border-radius: 10%;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    font-size: clamp(3rem, 11vw, 4.5rem);
    line-height: 1.5;
    box-shadow: 0 0 5px 5px var(--secondary-color);
}

#click-button:active {
    transform: scale(0.99);
}

#reset-button {
    background-color: #2AAA8A;
    border-radius: 10%;
    border: 3px solid var(--border-color);
    padding: 1rem 2rem;
    font-size: 2rem;
    color: white;
}

#control-buttons {
    width: min(90%, 900px);
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

button {
    cursor: pointer;
}

@media (width < 600px) {
    #reset-button {
        width: 100%;
    }

    #counters {
        flex-direction: column;
    }

    #click-button:active {
        transform: scale(0.90);
    }
}